# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

//Remove this when changes are made in these files
src/index.css
src/index.js
src/logo.png
src/logo.svg
src/reportWebVitals.js
src/setupTests.js
README.md
public/favicon.ico
public/logo192.png
public/logo512.png
public/manifest.json
public/robots.txt
src/App.test.js
